*{
    margin: 0;
    padding: 0;
box-sizing:border-box;

}

h1{
    text-align: center;
    padding: 20px;
}

form{
    padding: 20px;
    box-sizing: content-box;
    background-color: antiquewhite;
    width: max-content;
    margin: 20px auto;
}

label{ 
    display: inline-block;
    width: 120px;
    font-size ;

}

.inputs{
    
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
}

.adress *{
    vertical-align: middle;
}

.lang-div label , .gender-div label { display: inline-block;
    width: fit-content;
    
}

.gender-div{ display: inline-block;

}

.gender-div label{
    margin-right: 10px;
}

.lang-div{margin-bottom: 10px;
    display: inline-block;
}
.gender-label{    
    width: 120px;
}

.lang-lbl{

    width: 200px;
}

.languages{
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons{
    text-align: center;
}

.btn{
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: bisque;
    margin-left: 10px;
}

.btn:hover{
    cursor: pointer;


}